$list-item-height: 46px

.sheep-list
  margin: 30px 0
  display: block
  border: 1px solid #ddd
  min-height: 80px
  +border-radius(2px)

.sheep-list-header > span
  font-weight: bold
  color: #222

.sheep-list-row
  border-bottom: 1px solid #ddd
  cursor: pointer
  +clearfix

  &:hover
    background: #f5f5f5

  span
    display: block
    width: 25%
    float: left
    padding-left: 12px
    border-right: 1px solid #ddd
    height: $list-item-height
    line-height: $list-item-height

  span:last-child
    width: 10%
    border-right: none

  &:last-child
    border-bottom: none

  span.sheep-list-item-edit
    width: 10%
  
  span.sheep-list-header-edit
    width: 10%