.sheep-header
  border-bottom: 1px solid #d3d9dc
  padding: 30px 0 20px 0
  +clearfix

.sheep-title
  font-size: 45px
  color: #222
  float: left
  -webkit-font-smoothing: antialiased

.sheep-actions
  float: right
  margin-top: 15px

.sheep-action-item
  display: inline

.sheep-action-link
  @extend %button
  margin-left: 6px

.sheep-state
  float: right
  margin: 3px 20px 0 0

  &:after
    height: 36px
    width: 1px 
    background: #d3d9dc
    content: ""
    display: inline-block
    position: relative
    top: 12px 
    margin-left: 20px

.sheep-state-label
  font-size: 14px
  color: #888
  margin-right: 15px

.sheep-state-graphic
  +border-radius(3px)
  position: relative
  top: 12px
  height: 36px
  line-height: 36px
  padding: 0 17px 0 5px
  color: #fff
  font-weight: 600
  font-size: 13px
  display: inline-block

  .sheep-state-graphic-icon
    float: left
    position: relative
    margin-right: 5px
    top: -5px
  
  &.normal
    background: #2cc653

    .sheep-state-graphic-icon
      +background-image-retina("sheep.png")

  &.attack
    background: #e2281a

    .sheep-state-graphic-icon
      +background-image-retina("sheep.png")

  &.dead
    background: #444

    .sheep-state-graphic-icon
      +background-image-retina("sheep_dead.png")

.sheep-content
  padding: 30px 0
  border-top: 1px solid #d3d9dc

  h3
    font-size: 18px
    font-weight: 600
    color: #1e91d2
    margin-bottom: 20px

.sheep-content-list-item
  border-bottom: 1px solid #e9ebed
  height: 40px
  line-height: 40px

  &:first-child
    border-top: 1px solid #e9ebed

  strong
    width: 140px
    display: inline-block
    font-weight: 600
    color: #222

.sheep-overview,
.sheep-content
  +clearfix

.sheep-details
  +span-columns(4)

.sheep-activity
  +span-columns(8)
  +omega

  span
    font-size: 13px
    color: #999
    width: 140px
    display: inline-block

.sheep-map-wrapper
  overflow: hidden
  position: relative
  background: #333
  margin: 30px 0
  height: 300px

  .sheep-map
    height: 300px

    img
      max-width: none
      
    label
      width: auto
      display: inline 

  .sheep-map-label
    position: absolute
    left: 0
    right: 0
    bottom: 0
    height: 50px
    line-height: 50px
    padding: 0 15px
    background: rgba(black, 0.75)
    color: rgba(white, 0.75)

    .sheep-map-label-icon
      +inline-background-image-retina("sheep_map_position.png")
      display: inline-block
      margin: 0 10px -3px 0

    strong
      color: #fff
      font-weight: 600