.simulator
  .container
    width: 500px

  .content-title
    margin: 80px 0 20px 0


.simulator-list-item
  border-bottom: 1px solid #ddd
  height: 50px
  line-height: 50px

  &:first-child
    border-top: 1px solid #ddd


.simulator-list-item-id
  color: #999

.simulator-list-item-select
  float: right
  margin-top: 15px

.simulator-link
  background: #333
  color: #fff
  text-transform: uppercase
  letter-spacing: 1px
  font-weight: bold
  font-size: 12px
  padding: 10px 12px
  position: absolute
  top: 80px
  left: -31px
  z-index: 9999
  border-top-left-radius: 3px
  border-top-right-radius: 3px
  text-decoration: none
  +transform(rotate(90deg))