.header
  background: #37c559
  padding: 20px 0
  z-index: 8
  position: relative
  +clearfix

.header-logo
  font-size: 30px
  font-weight: 200
  color: white
  float: left

.header .add-sheep
  color: #fff
  float: right
  margin: 10px 0 0 0

  &:before
    +inline-background-image-retina("add.png")
    content: ""
    display: inline-block
    margin: 0 8px -2px 0