<script data-template="activityItem" type="text/x-handlebars">
  <li class="sheep-history-item sheep-history-row" data-model-id="{{id}}">
    <span class="sheep-history-item-event">{{event}}</span>
    <span class="sheep-history-item-time">{{formatDate time}}</span>
    <span class="sheep-history-item-sheep"><a href="#{{sheep}}">{{sheep}}</a></span>
  </li>
</script>