<script data-template="activities" type="text/x-handlebars">
  <div class="sheep-history">
    <header class="sheep-history-header sheep-history-row">
      <span class="sheep-history-header-event">Event</span>
      <span class="sheep-history-header-time">Time</span>
      <span class="sheep-lishistory-header-sheep">Sheep</span>
    </header>
    <ul class="sheep-history-items">{{view activityItemsView}}</ul>
  </div>
</script>