<script id="change-password" data-template="changePassword" type="text/x-handlebars">
  <div class="auth-content">
    <div class="auth-graphic"></div>
    <h1 class="auth-title">Change Password</h1>
    
    <form action="index.html" class="auth-form" method="POST">
      <input id="reset-code" name="reset_code" placeholder="New password" type="hidden">
      <div class="input">
        <input class="auth-form-input" name="password" placeholder="New password" type="password" autofocus required>
      </div>
      <div class="submit">
        <input class="auth-form-submit" type="submit" value="Change password">
      </div>
    </form>
    <div class="error-message">Wrong username or password</div>
  </div>
</script>