<script data-template="form" type="text/x-handlebars">
  <div class="modal sheep-modal">
    <div class="modal-close"></div>
    <div class="modal-content">
      <h1 class="sheep-form-title">Register Sheep</h1>
      <form class="sheep-form" method="POST" action="">
        <div class="input">
          <label for="name">Name</label>
          <input type="text" name="name" id="name" value="Leif" required autofocus>
        </div>

        <div class="input">
          <label for="birthday">Birthday</label>
          <input type="date" class="sheep-form-birthday" name="birthday" id="birthday" value="01/18/1991" required>
        </div>
        <div class="form-columns">
          <div class="input">
            <label for="weight">Weight</label>
            <input type="number" name="weight" id="weight" value="20" required>
          </div>
          <div class="input">
            <label for="breed">Breed</label>
            <input type="text" name="breed" id="breed" value="Merino">
          </div>
        </div>
        <div class="input form-gender">
          <label for="gender">Gender</label>
          <div class="input input-gender">
            <input type="radio" name="gender" value="0" id="gender-male" checked>
            <label for="gender-male">Male</label>
          </div>
          <div class="input input-gender">
            <input type="radio" name="gender" value="1" id="gender-female">
            <label for="gender-female">Female</label>
          </div>
        </div>
        <div class="submit">
          <input class="sheep-form-submit" type="submit" value="Register"> 
          <button class="sheep-form-cancel">Cancel</button> 
        </div>
      </form>
    </div>
  </div>
  <div class="modal-overlay"></div>
</script>