<script data-template="header" type="text/x-handlebars">
  <div class="container">
    <a href="index.html"><h1 class="header-logo">SheepTracker</h1></a>
    {{#if name}}
      <span class="header-breadcrumb"><span class="header-breadcrumb-icon"></span>Details</span>
    {{/if}}
    <a class="header-link logout" href="#">Logout</a>
    <a class="header-link add-sheep" href="#">Register</a>
    <a class="header-link invite" href="#">Invite</a>
    <a class="header-link history" href="#history">History</a>
  </div>
</script>
