<script data-template="header" type="text/x-handlebars">
  <div class="container">
    <a href="index.html"><h1 class="header-logo">SheepTracker</h1></a>
    <a class="header-link logout" href="#">Logout</a>
    <a class="header-link add-sheep" href="#">Register</a>
    <a class="header-link attack-sheep" href="#">Attack</a>
    <a class="header-link invite" href="#">Invite</a>
  </div>
</script>
