<script data-template="history" type="text/x-handlebars">
  {{view headerView}}
  <div class="container">
    <h1 class="content-title">History</h1>
    {{view activitiesView}}
  </div> 
  {{view notificationsView}}
</script>