<script data-template="index" type="text/x-handlebars">
  <header class="header">
    <div class="container">
      <h1 class="header-logo">Sheep Tracker™</h1>
      {{view filterBarView}}
    </div>
  </header>
  <div class="sheep container">{{view listView}}</div> 
</script>