<script data-template="invite" type="text/x-handlebars">
  {{view headerView}}
  <div class="container">
    <h1 class="content-title">Invite</h1>
    <p class="content-intro">Invite more people to your farm. They'll get full access to all your sheep.</p>
    <div class="content-form">
      <form action="index.html" class="auth-form" method="POST">
        <div class="input">
          <input class="auth-form-input" name="email" placeholder="Email address" type="email" autofocus required>
        </div>
        <div class="input">
          <textarea class="auth-form-textarea" name="message" placeholder="Write a message"></textarea>
        </div>
        <div class="submit">
          <input class="auth-form-submit" type="submit" value="Send invitation">
        </div>
      </form>
      <div class="error-message">Something went wrong</div>
      <div class="success-message"></div>
    </div>
  </div>
  {{view notificationsView}}
</script>