<script data-template="listItem" type="text/x-handlebars">
  <li class="sheep-list-item sheep-list-row">
    <span class="sheep-list-item-name">{{name}}</span>
    <span class="sheep-list-item-age">{{humanizeYears birthday}}</span>
    <span class="sheep-list-item-weight">{{weight}} kg</span>
  </li>
</script>