<script data-template="list" type="text/x-handlebars">
  <div class="sheep-list">
    <header class="sheep-list-header sheep-list-row">
      <span class="sheep-list-header-name">Navn</span>
      <span class="sheep-list-header-age">Alder</span>
      <span class="sheep-list-header-weight">Vekt</span>
      <span class="sheep-list-header-edit"></span>
      <span class="sheep-list-header-remove"></span>
    </header>
    <ul class="sheep-list-items">{{view listItemsView}}</ul>
  </div>
</script>