<script data-template="mapInfoWindow" type="text/x-handlebars">
  <div class="map-info-window">
    <h3 class="map-info-window-title">Sheep</h3>
    <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Maecenas faucibus mollis interdum.</p>
  </div>
</script>