<script data-template="mapInfoWindow" type="text/x-handlebars">
  <div class="map-info-window {{#if attack}}attack{{/if}}">
    <h3 class="map-info-window-title">{{name}} {{#if attack}}er under angrep!{{/if}}</h3>
    <p><strong>Vekt:</strong> {{weight}} kg</p>
    <p><strong>Alder:</strong> {{humanizeYears birth_date}}</p>
  </div>
</script>