<script data-template="notifications" type="text/x-handlebars">
  {{#collection}}
    <div class="notification {{type}}">
      <div class="notification-close"></div>
      {{message}}
    </div>
  {{/collection}}
</script>