<script id="reset-password" data-template="resetPassword" type="text/x-handlebars">
  <div class="auth-content">
    <div class="auth-graphic"></div>
    <h1 class="auth-title">Reset Password</h1>
    
    <form action="index.html" class="auth-form" method="POST">
      <div class="input">
        <input class="auth-form-input" name="username" placeholder="Username" type="text" autofocus required>
      </div>
      <div class="input">
        <input class="auth-form-input" name="email" placeholder="Email address" type="email" required>
      </div>
      <div class="submit">
        <input class="auth-form-submit" type="submit" value="Reset">
      </div>
    </form>
    <div class="error-message">Invalid username or email</div>
    <div class="success-message"></div>
  </div>
</script>