<script data-template="sheepMissing" type="text/x-handlebars">
  {{view headerView}}
  <div class="container sheep-missing">
    <div class="sheep-missing-graphic"></div>
    <div class="sheep-missing-content">
      <h1 class="sheep-missing-title">Couldn't find sheep <span>{{id}}</span></h1>
      <p class="sheep-missing-details">We couldn't find the sheep you are looking for. This probably means someone deleted it from the system. <a href="sheep.html">Click here to go back</a>.</p>
    </div>
  </div>
  {{view notificationsView}}
</script>