<script data-template="sheep" type="text/x-handlebars">
  {{view headerView}}
  <div class="container">
    <header class="sheep-header">
      <h1 class="sheep-title">{{name}}</h1>
      <ul class="sheep-actions">
        <li class="sheep-action-item"><a class="sheep-action-link sheep-action-delete" href="#">Delete</a></li>
        <li class="sheep-action-item"><a class="sheep-action-link sheep-action-edit" href="#">Edit</a></li>
      </ul>
      <div class="sheep-state">
        <span class="sheep-state-label">Status:</span>
        <div class="sheep-state-graphic {{stateClass state}}">
          <div class="sheep-state-graphic-icon"></div>
          {{stateMessage state}}
        </div>
      </div>
    </header>

    <div class="sheep-overview">
      <div class="sheep-map-wrapper">
        {{view mapView}}
        <div class="sheep-map-label">
          <span class="sheep-map-label-icon"></span><strong>Coordinates: </strong>{{position}}
        </div>
      </div>
    </div>

    <div class="sheep-content">
      <div class="sheep-details">
        <h3>General Information</h3>
        <ul class="sheep-content-list">
          <li class="sheep-content-list-item"><strong>ID: </strong>{{id}}</li>
          <li class="sheep-content-list-item"><strong>Weight: </strong>{{weight}}</li>
          <li class="sheep-content-list-item"><strong>Birthday: </strong>{{formatDate birth_date}}</li>
          <li class="sheep-content-list-item"><strong>Age: </strong>{{humanizeYears birth_date}}</li>
          <li class="sheep-content-list-item"><strong>Breed: </strong>{{breed}}</li>
          <li class="sheep-content-list-item"><strong>Gender: </strong>{{genderLabel gender}}</li>
          <li class="sheep-content-list-item"><strong>Heart Rate: </strong>{{heart_rate}} bpm</li>
          <li class="sheep-content-list-item"><strong>Body Temperature: </strong>{{body_temperature}}&#8451;</li
        </ul>
      </div>
      <div class="sheep-activity">
        <h3>Recent Activity</h3>
        <ul class="sheep-activity-list">
          {{#each events}}
            <li class="sheep-activity-list-item">
              <span class="sheep-activity-list-date">{{formatDate time}}</span>
              <span class="sheep-activity-list-event">{{event}}</span>
            </li>
          {{else}}
            <li class="sheep-activity-list-empty">No Activity</li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div> 
  {{view notificationsView}}
</script>