== partial "templates/header"
== partial "templates/index"
== partial "templates/history"
== partial "templates/sheep"
== partial "templates/sheep_missing"
== partial "templates/form"
== partial "templates/map"
== partial "templates/map_info_window"
== partial "templates/list"
== partial "templates/list_item"
== partial "templates/activities"
== partial "templates/activity_item"
== partial "templates/filter_bar"
== partial "templates/notifications"
== partial "templates/invite"

== javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyDjDYG1FoYUVPcZBxvNjg0WpH9-8b7rqsE&sensor=false"
== javascript_include_tag "application"