- content_for :title, "Validate registration &dash; SheepTracker"

== partial "partials/auth_header"

#container
  .error-message.centered Couldn't validate user

== javascript_include_tag("auth/validate_registration")